{% extends 'base.html' %}
{% load static %}

{% block title %}Article List{% endblock %}
{% block content %}
    <h1>Wiki</h1>
    {% if request.user.is_authenticated %}
    <h2>Your Articles</h2>
        <ul>
            {% for personal_article in my_articles %}
                <ul>
                    <a href="{{ personal_article.get_absolute_url }}">{{ personal_article }}</a>
                </ul>
            {% endfor %}
        </ul>
        <a href="{% url 'wiki:create_article' %}">Create New Article</a>
    {% endif %}
    <h2>All Articles</h2>
        {% for article in all_articles %}
            {% if article not in my_articles %}
                <ul>
                    <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </ul>
            {% endif %}
        {% endfor %}    
{% endblock %}