/* Utilities */

.h-24px {
  height: 24px;
}

.w-fit {
  width: fit-content !important;
}

.h-fit {
  height: fit-content !important;
}

.bg-green {
  background-color: #50B9AB !important;
}

.bg-app-yellow {
  background-color: #F7CD67 !important;
}

.text-brown {
  color: #725C4E !important;
}

.ratio-square {
  aspect-ratio: 1 / 1 !important;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

/* Custom Font */

@font-face {
  font-family: 'Arial-Rounded-MT';
  src: url('../arial-rounded/arialroundedmt-webfont.woff2') format('woff2'),
       url('../arial-rounded/arialroundedmt-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Arial-Rounded-MT';
  src: url('../arial-rounded/arialroundedmtextrabold-webfont.woff2') format('woff2'),
       url('../arial-rounded/arialroundedmtextrabold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Arial-Rounded-MT';
  src: url('../arial-rounded/arialroundedmtlight-webfont.woff2') format('woff2'),
       url('../arial-rounded/arialroundedmtlight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Arial-Rounded-MT';
  src: url('../arial-rounded/arlrdbd-webfont.woff2') format('woff2'),
       url('../arial-rounded/arlrdbd-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

.text-arial-rounded {
  font-family: 'Arial-Rounded-MT', 'Inter', sans-serif;
}

.text-poppins {
  font-family: 'Poppins', 'Inter', sans-serif;
}

/* Custom Styling */
body {
  background: #FFF;
}

section:not(.items) {
  border-radius: 48px 0 0 0; 
  background-color: #F4F6FA;
  overflow-x: hidden;
  overflow-y: scroll;
  left: 70px;
  width: calc(100% - 70px);
  height: calc(100% - 67px);
}

section:has(> main#product-details ) {
  background-color: var(--bs-gray-100);
  overflow: hidden;
}

@media (max-width: 768px) {
  section:not([id]) {
    border-radius: 0; 
    left: 0;
    width: 100%;
  }
}

section.items article {
  width: 245px;
}

.btn i.ki-plus-square {
  bottom: 2px;
}

@media (max-width: 553px) {
  section.items {
    width: 100%;
  }

  section.items article {
    width: calc((100% - 12px) / 2);
  }

  .btn i.ki-plus-square {
    bottom: 0;
  }
}

@media (max-width: 926px) {
  section.items {
    width: 516px;
  }
}

@media (min-width: 927px) {
  section.items {
    width: 787px;
  }
}

@media (min-width: 1208px) {
  section.items {
    width: 1058px;
  }
}

@media (min-width: 1479px) {
  section.items {
    width: 1329px;
  }
}

aside a {
  border-radius: 16.2px;
}

aside a.active {
  box-shadow: 0px 0px 0px 3px #FFF, 0px 0px 0px 5px currentColor;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

form {
  margin: 0;
  padding: 0;
}

#wave-top {
  margin-top: -72px;
}

#shape-background {
  background: url('data:image/svg+xml,%3Csvg%20width%3D%22427%22%20height%3D%22143%22%20viewBox%3D%220%200%20427%20143%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cdefs%3E%0A%3Cpattern%20id%3D%22bg%22%20patternUnits%3D%22userSpaceOnUse%22%20width%3D%22427%22%20height%3D%22143%22%3E%0A%3Cpath%20d%3D%22M161.46%20103.465L148.99%20115.818C146.965%20117.824%20145.157%20122.348%20147.803%20124.889C154.034%20130.198%20158.001%20134.397%20159.206%20135.833C159.929%20136.777%20161.974%20138.768%20164.373%20139.188C168.228%20139.564%20171.585%20135.921%20172.782%20134.053C173.708%20132.617%20176.684%20128.801%20181.18%20125.028C187.11%20118.905%20182.881%20114.493%20180.025%20113.053C178.328%20112.099%20174.312%20109.294%20171.828%20105.705C167.756%2099.7508%20163.219%20101.731%20161.46%20103.465Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M53.3846%20105.87L35.8324%20105.787C32.9819%20105.774%2028.505%20107.695%2028.5792%20111.362C29.2309%20119.522%2029.0669%20125.297%2028.9035%20127.164C28.7476%20128.343%2028.7856%20131.197%2030.1849%20133.19C32.6448%20136.181%2037.5946%20135.98%2039.762%20135.505C41.4323%20135.145%2046.2348%20134.551%2052.0821%20135.062C60.6041%20134.925%2060.7338%20128.815%2059.7333%20125.778C59.2075%20123.903%2058.3513%20119.079%2059.1326%20114.786C60.4634%20107.696%2055.8551%20105.888%2053.3846%20105.87Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M356.408%20105.512L338.856%20105.429C336.005%20105.416%20331.529%20107.337%20331.603%20111.004C332.254%20119.164%20332.09%20124.939%20331.927%20126.806C331.771%20127.984%20331.809%20130.839%20333.208%20132.831C335.668%20135.823%20340.618%20135.622%20342.786%20135.147C344.456%20134.786%20349.258%20134.193%20355.106%20134.703C363.628%20134.567%20363.757%20128.457%20362.757%20125.419C362.231%20123.544%20361.375%20118.721%20362.156%20114.428C363.487%20107.338%20358.879%20105.53%20356.408%20105.512Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M235.481%20105.837L217.928%20105.754C215.078%20105.741%20210.601%20107.662%20210.675%20111.329C211.327%20119.489%20211.163%20125.264%20210.999%20127.131C210.844%20128.309%20210.882%20131.164%20212.281%20133.156C214.741%20136.148%20219.691%20135.947%20221.858%20135.472C223.528%20135.112%20228.331%20134.518%20234.178%20135.028C242.7%20134.892%20242.83%20128.782%20241.829%20125.744C241.303%20123.869%20240.447%20119.046%20241.229%20114.753C242.559%20107.663%20237.951%20105.855%20235.481%20105.837Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M100.323%20102.4L87.8532%20114.752C85.828%20116.758%2084.021%20121.282%2086.6663%20123.823C92.8972%20129.132%2096.8647%20133.332%2098.0696%20134.768C98.7924%20135.711%20100.838%20137.702%20103.236%20138.122C107.091%20138.498%20110.449%20134.856%20111.646%20132.987C112.572%20131.551%20115.548%20127.736%20120.044%20123.962C125.973%20117.84%20121.744%20113.428%20118.889%20111.987C117.191%20111.033%20113.175%20108.228%20110.692%20104.639C106.62%2098.685%20102.083%20100.665%20100.323%20102.4Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M282.838%20103.563L270.368%20115.916C268.343%20117.922%20266.536%20122.446%20269.181%20124.986C275.412%20130.295%20279.38%20134.495%20280.585%20135.931C281.307%20136.874%20283.353%20138.866%20285.751%20139.285C289.606%20139.661%20292.964%20136.019%20294.161%20134.151C295.087%20132.715%20298.063%20128.899%20302.559%20125.125C308.488%20119.003%20304.259%20114.591%20301.404%20113.15C299.706%20112.196%20295.69%20109.391%20293.207%20105.803C289.135%2099.8484%20284.597%20101.829%20282.838%20103.563Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M404.154%20102.81L391.684%20115.163C389.659%20117.169%20387.852%20121.693%20390.497%20124.234C396.728%20129.543%20400.696%20133.742%20401.901%20135.178C402.623%20136.122%20404.669%20138.113%20407.067%20138.533C410.922%20138.909%20414.28%20135.266%20415.477%20133.398C416.403%20131.962%20419.379%20128.146%20423.874%20124.373C429.804%20118.25%20425.575%20113.838%20422.72%20112.398C421.022%20111.444%20417.006%20108.639%20414.523%20105.05C410.45%2099.0958%20405.913%20101.076%20404.154%20102.81Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M100.621%206.17197L88.1512%2018.5247C86.126%2020.5307%2084.319%2025.0549%2086.9643%2027.5953C93.1952%2032.9046%2097.1627%2037.104%2098.3676%2038.54C99.0904%2039.4833%20101.136%2041.4748%20103.534%2041.8944C107.389%2042.2705%20110.747%2038.6281%20111.944%2036.7599C112.87%2035.3237%20115.846%2031.508%20120.342%2027.7345C126.271%2021.6121%20122.042%2017.2001%20119.187%2015.7594C117.489%2014.8053%20113.473%2012.0002%20110.99%208.41188C106.918%202.45745%20102.381%204.43759%20100.621%206.17197Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M88.2458%2057.342L70.6936%2057.2592C67.8431%2057.2457%2063.3662%2059.167%2063.4404%2062.8339C64.0922%2070.994%2063.9282%2076.7688%2063.7647%2078.6362C63.6088%2079.8144%2063.6469%2082.6688%2065.0461%2084.6614C67.5061%2087.6533%2072.4558%2087.452%2074.6232%2086.9773C76.2936%2086.6166%2081.096%2086.0228%2086.9433%2086.5335C95.4653%2086.3971%2095.595%2080.2873%2094.5946%2077.2494C94.0688%2075.3744%2093.2125%2070.5511%2093.9939%2066.2578C95.3247%2059.1677%2090.7163%2057.3598%2088.2458%2057.342Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M196.321%2054.9372L183.851%2067.2898C181.826%2069.2959%20180.019%2073.8201%20182.664%2076.3605C188.895%2081.6698%20192.863%2085.8692%20194.068%2087.3052C194.79%2088.2485%20196.836%2090.24%20199.234%2090.6596C203.089%2091.0357%20206.447%2087.3933%20207.644%2085.5251C208.57%2084.0889%20211.546%2080.2732%20216.041%2076.4997C221.971%2070.3773%20217.742%2065.9652%20214.887%2064.5246C213.189%2063.5705%20209.173%2060.7654%20206.69%2057.1771C202.617%2051.2226%20198.08%2053.2028%20196.321%2054.9372Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M343.436%207.21036L330.966%2019.563C328.941%2021.5691%20327.134%2026.0933%20329.779%2028.6337C336.01%2033.943%20339.977%2038.1424%20341.182%2039.5784C341.905%2040.5217%20343.95%2042.5132%20346.349%2042.9328C350.204%2043.3089%20353.562%2039.6665%20354.758%2037.7983C355.684%2036.3621%20358.66%2032.5464%20363.156%2028.7729C369.086%2022.6504%20364.857%2018.2384%20362.002%2016.7977C360.304%2015.8437%20356.288%2013.0386%20353.805%209.45027C349.732%203.49584%20345.195%205.47599%20343.436%207.21036Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M173.926%209.0462L156.374%208.96333C153.524%208.94988%20149.047%2010.8712%20149.121%2014.538C149.773%2022.6982%20149.609%2028.473%20149.445%2030.3404C149.289%2031.5186%20149.327%2034.373%20150.727%2036.3656C153.187%2039.3575%20158.136%2039.1561%20160.304%2038.6815C161.974%2038.3208%20166.776%2037.727%20172.624%2038.2377C181.146%2038.1013%20181.275%2031.9914%20180.275%2028.9536C179.749%2027.0786%20178.893%2022.2553%20179.674%2017.962C181.005%2010.8719%20176.397%209.06394%20173.926%209.0462Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M14.9802%2055.4463L2.51033%2067.799C0.485203%2069.8051%20-1.32188%2074.3293%201.32346%2076.8697C7.55439%2082.1789%2011.5219%2086.3783%2012.7267%2087.8143C13.4496%2088.7576%2015.4949%2090.7491%2017.8933%2091.1687C21.7483%2091.5448%2025.1059%2087.9024%2026.3029%2086.0342C27.2289%2084.5981%2030.2049%2080.7824%2034.7007%2077.0088C40.6302%2070.8864%2036.4016%2066.4744%2033.5461%2065.0337C31.8485%2064.0797%2027.8324%2061.2746%2025.3491%2057.6862C21.2767%2051.7318%2016.7397%2053.7119%2014.9802%2055.4463Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M270.365%2057.1803L252.813%2057.0975C249.962%2057.084%20245.485%2059.0053%20245.559%2062.6722C246.211%2070.8323%20246.047%2076.6071%20245.884%2078.4746C245.728%2079.6527%20245.766%2082.5071%20247.165%2084.4998C249.625%2087.4916%20254.575%2087.2903%20256.742%2086.8156C258.412%2086.4549%20263.215%2085.8612%20269.062%2086.3718C277.584%2086.2354%20277.714%2080.1256%20276.713%2077.0877C276.188%2075.2127%20275.331%2070.3894%20276.113%2066.0961C277.444%2059.0061%20272.835%2057.1981%20270.365%2057.1803Z%22%20fill%3D%22%23F1F1F2%22%2F%3E%0A%3Cpath%20d%3D%22M390.942%2057.0588L373.39%2056.976C370.539%2056.9625%20366.062%2058.8838%20366.136%2062.5507C366.788%2070.7108%20366.624%2076.4856%20366.461%2078.353C366.305%2079.5312%20366.343%2082.3856%20367.742%2084.3782C370.202%2087.3701%20375.152%2087.1688%20377.319%2086.6941C378.99%2086.3334%20383.792%2085.7396%20389.639%2086.2503C398.161%2086.1139%20398.291%2080.0041%20397.291%2076.9662C396.765%2075.0912%20395.909%2070.2679%20396.69%2065.9746C398.021%2058.8846%20393.412%2057.0766%20390.942%2057.0588Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M295.745%209.00952L278.193%208.92665C275.342%208.91319%20270.865%2010.8345%20270.94%2014.5013C271.591%2022.6615%20271.427%2028.4363%20271.264%2030.3037C271.108%2031.4819%20271.146%2034.3363%20272.545%2036.3289C275.005%2039.3208%20279.955%2039.1195%20282.122%2038.6448C283.793%2038.2841%20288.595%2037.6903%20294.443%2038.201C302.965%2038.0646%20303.094%2031.9548%20302.094%2028.9169C301.568%2027.0419%20300.712%2022.2186%20301.493%2017.9253C302.824%2010.8352%20298.216%209.02725%20295.745%209.00952Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M135.58%2055.1964L123.11%2067.5491C121.085%2069.5552%20119.278%2074.0794%20121.924%2076.6198C128.154%2081.929%20132.122%2086.1284%20133.327%2087.5645C134.05%2088.5078%20136.095%2090.4992%20138.493%2090.9188C142.348%2091.2949%20145.706%2087.6526%20146.903%2085.7843C147.829%2084.3482%20150.805%2080.5325%20155.301%2076.7589C161.23%2070.6365%20157.002%2066.2245%20154.146%2064.7838C152.449%2063.8298%20148.433%2061.0247%20145.949%2057.4363C141.877%2051.4819%20137.34%2053.462%20135.58%2055.1964Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M223.431%205.26417L210.961%2017.6169C208.936%2019.623%20207.129%2024.1471%20209.774%2026.6875C216.005%2031.9968%20219.973%2036.1962%20221.178%2037.6322C221.9%2038.5755%20223.946%2040.567%20226.344%2040.9866C230.199%2041.3627%20233.557%2037.7203%20234.754%2035.8521C235.68%2034.4159%20238.656%2030.6002%20243.152%2026.8267C249.081%2020.7043%20244.852%2016.2923%20241.997%2014.8516C240.299%2013.8975%20236.283%2011.0924%20233.8%207.50408C229.728%201.54966%20225.191%203.5298%20223.431%205.26417Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M403.189%207.82899L390.719%2020.1817C388.694%2022.1878%20386.887%2026.712%20389.533%2029.2524C395.764%2034.5616%20399.731%2038.761%20400.936%2040.197C401.659%2041.1403%20403.704%2043.1318%20406.102%2043.5514C409.957%2043.9275%20413.315%2040.2851%20414.512%2038.4169C415.438%2036.9808%20418.414%2033.1651%20422.91%2029.3915C428.839%2023.2691%20424.611%2018.8571%20421.755%2017.4164C420.058%2016.4624%20416.042%2013.6572%20413.558%2010.0689C409.486%204.11448%20404.949%206.09462%20403.189%207.82899Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M317.699%2055.0347L305.229%2067.3874C303.204%2069.3935%20301.397%2073.9176%20304.042%2076.4581C310.273%2081.7673%20314.241%2085.9667%20315.446%2087.4027C316.168%2088.346%20318.214%2090.3375%20320.612%2090.7571C324.467%2091.1332%20327.825%2087.4908%20329.022%2085.6226C329.948%2084.1864%20332.924%2080.3708%20337.42%2076.5972C343.349%2070.4748%20339.121%2066.0628%20336.265%2064.6221C334.567%2063.6681%20330.551%2060.8629%20328.068%2057.2746C323.996%2051.3202%20319.459%2053.3003%20317.699%2055.0347Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3Cpath%20d%3D%22M52.5187%208.52704L34.9665%208.44417C32.116%208.43071%2027.6391%2010.352%2027.7133%2014.0189C28.365%2022.179%2028.201%2027.9538%2028.0376%2029.8212C27.8817%2030.9994%2027.9197%2033.8538%2029.319%2035.8465C31.7789%2038.8383%2036.7287%2038.637%2038.8961%2038.1623C40.5664%2037.8016%2045.3689%2037.2078%2051.2162%2037.7185C59.7382%2037.5821%2059.8678%2031.4723%2058.8674%2028.4344C58.3416%2026.5594%2057.4853%2021.7361%2058.2667%2017.4428C59.5975%2010.3528%2054.9892%208.54477%2052.5187%208.52704Z%22%20fill%3D%22%23E1E3EA%22%2F%3E%0A%3C%2Fpattern%3E%0A%3C%2Fdefs%3E%0A%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%23bg)%22%2F%3E%0A%3C%2Fsvg%3E%0A');
  left: 157px;
  width: 488px;
  height: 100vh;
  transform: translateZ(1px) rotate(-10deg);
}

/* Bootstrap Template Additions */
.hover-rotate-180 {
  transition: transform .2s ease;
}

div[data-kt-menu-trigger]:hover i.hover-rotate-180 {
  transform: rotate(180deg);
}

.breadcrumb-arrow .breadcrumb-item::after {
  font-family: FontAwesome;
  padding-left: .5rem;
  content: "\f105";
  font-size: 0.75rem;
}

.btn-green {
  background-color: #50B9AB;
  color: #FFF;
}

.btn-green:hover, .btn-green:active {
  background-color: #459f93 !important;
  color: #FFF !important;
}

figcaption div a:hover {
  text-decoration: underline !important;
  color: var(--bs-link-color-rgb) !important;
}

figcaption div.pfp, figcaption img.pfp {
  width: 18px;
}

#product-details figcaption.card, #product-details form {
  max-height: calc(100% - 21px);
}

.badge.badge-lg {
  padding: .75rem 1rem;
}

#product-details .ribbon-label {
  border-radius: 0 0.80rem 0.80rem 0;
}

#product-details div.ribbon-group {
  top: 15%;
  left: -2rem;
  position: absolute;
}

#product-details #owner + div {
  height: calc(100% - 2 * 0.775rem);
}