{% extends 'base.html' %}
{% load static %}

{% block title %}Items{% endblock %}
{% block content %}
<div class="position-absolute top-0 start-0 w-100" id="wave-top">
  <svg width="current" height="323" preserveAspectRatio="none" viewBox="0 0 1207 323" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.5" d="M393.686 289.889C269.07 349.595 80.0871 314.767 1.17236 289.889V0H1207V291.082C1193.19 293.462 1158.06 300.543 1128.03 309.831C971.466 344.495 823.963 302.252 762.622 280.137C571.828 235.268 412.286 285.005 393.686 289.889Z" fill="#E1E3EA"/>
    <path d="M397.573 266.969C294.093 289.534 89.9594 276.371 0.827637 266.969V0H1206.66V266.969C1138.07 283.894 889.195 281.728 824.147 266.969C672.841 241.122 458.405 255.329 397.573 266.969Z" fill="#E1E3EA"/>
  </svg>    
</div>
<main class="position-relative text-arial-rounded">
  <ol class="breadcrumb breadcrumb-arrow text-muted fs-6 fw-bold">
    <li class="breadcrumb-item">
      <a href="/" class="">
        <i class="ki-duotone ki-home"></i>
      </a>
    </li>
    <li class="breadcrumb-item"><a href="#" class="text-muted">MerchStore</a></li>
    <li class="breadcrumb-item text-gray-800">Items</li>
  </ol>
  
  {% if request.user.is_authenticated and your_products%}
    {% with products=your_products header="Your Products" %}
      {% include "merchstore/items-list.html" %}
    {% endwith %}
    <hr class="my-6">
  {% endif %}  
  {% with products=all_products header="All Products" %}
    {% include "merchstore/items-list.html" %}
  {% endwith %}

  
</main>
{% endblock %}

{% block scripts %}
<script>
  $('a').click(function(event){
    event.stopPropagation();
 });
</script>
{% endblock %}