{% extends 'base.html' %}
{% load static %}

{% block title %}Update Commission{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Update Commission</h1>
        <div class="card" style="padding:1em">{{ commission_form }}</div>

        <h1 style="margin-top: 1em">Jobs</h1>
        {{ jobs_formset.management_form }}
        {% for job_form in jobs_formset %}
            <div class="card" style="padding: 1em">{{ job_form }}</div>
        {% endfor %}

        <h1 style="margin-top: 1em">Job Applications</h1>
        {{ job_application_formset.management_form }}
        {% for job_application_form in job_application_formset %}
            <div class="card" style="padding: 1em">{{ job_application_form }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="margin-top: 1em;">Update Commission</button>
    </form>
{% endblock %}