{% extends 'base.html' %}
{% load static %}

{% block title %}Create Commission{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Create Commission</h1>
        <div class="card" style="padding: 1em; margin-bottom: 1em;">
            {{ commission_form }}
        </div>

        <h2>Jobs</h2>
        {{ jobs_formset.management_form }}
        {% for job_form in jobs_formset %}
            <div class="card" style="padding: 1em">{{ job_form }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="margin-top: 1em;">Create Commission with Job Openings</button>
    </form>
{% endblock %}